<% if user_signed_in? %>
	<b> User:</b><%= current_user.email %>
	<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<%end%>
<br>
<!-- <script src="//code.jquery.com/jquery.min.js"></script>
<script src="paginate.js"></script> -->
<div id="pager">
<table id="table" class="table table-bordered table-stripped">
	<thead>
		<tr>
		   <th>SI No</th>
			<th>Projects</th>
			<th>Username</th>
			<th>Category Name</th>
		</tr>
	</thead>
	<%count = 0%>
	<tbody>
	<% @products.each do |p|%>
		<tr>
		    <td><%= count = count + 1%></td>
			<td><%= p.name%></td>
			<td><%= p.user.email%></td>
			<td><%= p.category.name%></td>
		</tr>
	</tbody>
	<%end%>
</table>
</div>
<!-- <div class="pagination"></div> -->
<!-- 
<script type="text/javascript">
$.noConflict();
jQuery(function ($) { 
    $("table") 
    .tablesorter({widthFixed: true, widgets: ['zebra'] }) 
    .tablesorterPager({
        container: $("#pager"),
        size:5
    }); 
});
 </script> -->
 <style type="text/css">
 	body
 	{
 		background-color: green;
 	}
 	#pager
 	{
 		margin-left: 500px;
 		margin-top: 200px;
 	}
 </style>